@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AlbertSans";
  src: url("./assets/AlbertSans-Variable.ttf");
}
@font-face {
  font-family: "WorkSans";
  src: url("./assets/WorkSans-Variable.ttf");
}

@layer utilities {

}


@layer base {
  h1 {
    @apply text-2xl text-text-600 font-semibold;
  }
  h2 {
    @apply text-xl text-text-600 font-semibold;
  }
  h3 {
    @apply text-lg text-text-600 font-semibold;
  }
  h4 {
    @apply text-base text-text-600 font-semibold;
  }
  h5 {
    @apply text-sm text-text-600 font-semibold;
  }
  h6 {
    @apply text-sm text-text-600 font-semibold;
  }
  :root {
    --text-50: 244 242 241;
    --text-100: 233 229 226;
    --text-200: 210 203 198;
    --text-300: 188 177 169;
    --text-400: 165 151 141;
    --text-500: 143 124 112;
    --text-600: 114 100 90;
    --text-700: 86 75 67;
    --text-800: 57 50 45;
    --text-900: 29 25 22;
    --text-950: 14 12 11;

    --background-50: 244 243 240;
    --background-100: 233 230 226;
    --background-200: 211 205 197;
    --background-300: 189 181 168;
    --background-400: 167 156 139;
    --background-500: 145 131 110;
    --background-600: 116 105 88;
    --background-700: 87 79 66;
    --background-800: 58 52 44;
    --background-900: 29 26 22;
    --background-950: 15 13 11;

    --primary-50: 244 242 241;
    --primary-100: 232 230 227;
    --primary-200: 210 205 198;
    --primary-300: 187 180 170;
    --primary-400: 164 154 142;
    --primary-500: 142 129 113;
    --primary-600: 113 103 91;
    --primary-700: 85 78 68;
    --primary-800: 57 52 45;
    --primary-900: 28 26 23;
    --primary-950: 14 13 11;

    --secondary-50: 242 244 241;
    --secondary-100: 229 232 227;
    --secondary-200: 202 210 198;
    --secondary-300: 176 187 170;
    --secondary-400: 150 164 142;
    --secondary-500: 123 142 113;
    --secondary-600: 99 113 91;
    --secondary-700: 74 85 68;
    --secondary-800: 49 57 45;
    --secondary-900: 25 28 23;
    --secondary-950: 12 14 11;

    --accent-50: 241 244 241;
    --accent-100: 227 232 227;
    --accent-200: 198 210 198;
    --accent-300: 170 187 170;
    --accent-400: 142 164 142;
    --accent-500: 113 142 113;
    --accent-600: 91 113 91;
    --accent-700: 68 85 68;
    --accent-800: 45 57 45;
    --accent-900: 23 28 23;
    --accent-950: 11 14 11;

  }
  .dark {
    --text-50: 14 12 11;
    --text-100: 29 25 22;
    --text-200: 57 50 45;
    --text-300: 86 75 67;
    --text-400: 114 100 90;
    --text-500: 143 124 112;
    --text-600: 165 151 141;
    --text-700: 188 177 169;
    --text-800: 210 203 198;
    --text-900: 233 229 226;
    --text-950: 244 242 241;

    --background-50: 15 13 11;
    --background-100: 29 26 22;
    --background-200: 58 52 44;
    --background-300: 87 79 66;
    --background-400: 116 105 88;
    --background-500: 145 131 110;
    --background-600: 167 156 139;
    --background-700: 189 181 168;
    --background-800: 211 205 197;
    --background-900: 233 230 226;
    --background-950: 244 243 240;

    --primary-50: 14 13 11;
    --primary-100: 28 26 23;
    --primary-200: 57 52 45;
    --primary-300: 85 78 68;
    --primary-400: 113 103 91;
    --primary-500: 142 129 113;
    --primary-600: 164 154 142;
    --primary-700: 187 180 170;
    --primary-800: 210 205 198;
    --primary-900: 232 230 227;
    --primary-950: 244 242 241;

    --secondary-50: 12 14 11;
    --secondary-100: 25 28 23;
    --secondary-200: 49 57 45;
    --secondary-300: 74 85 68;
    --secondary-400: 99 113 91;
    --secondary-500: 123 142 113;
    --secondary-600: 150 164 142;
    --secondary-700: 176 187 170;
    --secondary-800: 202 210 198;
    --secondary-900: 229 232 227;
    --secondary-950: 242 244 241;

    --accent-50: 11 14 11;
    --accent-100: 23 28 23;
    --accent-200: 45 57 45;
    --accent-300: 68 85 68;
    --accent-400: 91 113 91;
    --accent-500: 113 142 113;
    --accent-600: 142 164 142;
    --accent-700: 170 187 170;
    --accent-800: 198 210 198;
    --accent-900: 227 232 227;
    --accent-950: 241 244 241;
  }
  .transport {
    --text-50: 240 241 244;
    --text-100: 225 227 234;
    --text-200: 195 198 213;
    --text-300: 165 170 192;
    --text-400: 136 141 170;
    --text-500: 106 113 149;
    --text-600: 85 90 119;
    --text-700: 63 68 90;
    --text-800: 42 45 60;
    --text-900: 21 23 30;
    --text-950: 11 11 15;

    --background-50: 241 241 244;
    --background-100: 226 226 233;
    --background-200: 198 198 210;
    --background-300: 169 169 188;
    --background-400: 141 141 165;
    --background-500: 112 112 143;
    --background-600: 90 90 114;
    --background-700: 67 67 86;
    --background-800: 45 45 57;
    --background-900: 22 22 29;
    --background-950: 11 11 14;

    --primary-50: 236 240 248;
    --primary-100: 217 224 242;
    --primary-200: 179 193 229;
    --primary-300: 141 162 216;
    --primary-400: 103 131 203;
    --primary-500: 65 100 190;
    --primary-600: 52 80 152;
    --primary-700: 39 60 114;
    --primary-800: 26 40 76;
    --primary-900: 13 20 38;
    --primary-950: 7 10 19;

    --secondary-50: 242 240 244;
    --secondary-100: 229 225 234;
    --secondary-200: 203 196 212;
    --secondary-300: 176 166 191;
    --secondary-400: 150 137 169;
    --secondary-500: 124 107 148;
    --secondary-600: 99 86 118;
    --secondary-700: 74 64 89;
    --secondary-800: 50 43 59;
    --secondary-900: 25 21 30;
    --secondary-950: 12 11 15;

    --accent-50: 243 240 244;
    --accent-100: 232 225 234;
    --accent-200: 208 196 212;
    --accent-300: 185 166 191;
    --accent-400: 161 137 169;
    --accent-500: 138 107 148;
    --accent-600: 110 86 118;
    --accent-700: 83 64 89;
    --accent-800: 55 43 59;
    --accent-900: 28 21 30;
    --accent-950: 14 11 15;

  }
  .transport.dark {
    --text-50: 11 11 15;
    --text-100: 21 23 30;
    --text-200: 42 45 60;
    --text-300: 63 68 90;
    --text-400: 85 90 119;
    --text-500: 106 113 149;
    --text-600: 136 141 170;
    --text-700: 165 170 192;
    --text-800: 195 198 213;
    --text-900: 225 227 234;
    --text-950: 240 241 244;

    --background-50: 11 11 14;
    --background-100: 22 22 29;
    --background-200: 44 44 58;
    --background-300: 67 67 86;
    --background-400: 89 89 115;
    --background-500: 111 111 144;
    --background-600: 140 140 166;
    --background-700: 169 169 188;
    --background-800: 197 197 211;
    --background-900: 226 226 233;
    --background-950: 241 241 244;

    --primary-50: 7 10 19;
    --primary-100: 13 20 38;
    --primary-200: 26 40 76;
    --primary-300: 39 60 114;
    --primary-400: 52 80 152;
    --primary-500: 65 100 190;
    --primary-600: 103 131 203;
    --primary-700: 141 162 216;
    --primary-800: 179 193 229;
    --primary-900: 217 224 242;
    --primary-950: 236 240 248;

    --secondary-50: 12 11 15;
    --secondary-100: 25 21 30;
    --secondary-200: 50 43 59;
    --secondary-300: 74 64 89;
    --secondary-400: 99 86 118;
    --secondary-500: 124 107 148;
    --secondary-600: 150 137 169;
    --secondary-700: 176 166 191;
    --secondary-800: 203 196 212;
    --secondary-900: 229 225 234;
    --secondary-950: 242 240 244;

    --accent-50: 14 11 15;
    --accent-100: 28 21 30;
    --accent-200: 55 43 59;
    --accent-300: 83 64 89;
    --accent-400: 110 86 118;
    --accent-500: 138 107 148;
    --accent-600: 161 137 169;
    --accent-700: 185 166 191;
    --accent-800: 208 196 212;
    --accent-900: 232 225 234;
    --accent-950: 243 240 244;

  }
  .viu {
    --text-50: 244 242 241;
    --text-100: 232 230 227;
    --text-200: 210 204 198;
    --text-300: 187 179 170;
    --text-400: 164 153 142;
    --text-500: 142 128 113;
    --text-600: 113 102 91;
    --text-700: 85 77 68;
    --text-800: 57 51 45;
    --text-900: 28 26 23;
    --text-950: 14 13 11;

    --background-50: 244 243 240;
    --background-100: 234 231 225;
    --background-200: 212 207 196;
    --background-300: 191 183 166;
    --background-400: 169 158 137;
    --background-500: 148 134 107;
    --background-600: 118 107 86;
    --background-700: 89 81 64;
    --background-800: 59 54 43;
    --background-900: 30 27 21;
    --background-950: 15 13 11;

    --primary-50: 247 243 238;
    --primary-100: 238 232 221;
    --primary-200: 222 208 186;
    --primary-300: 205 185 152;
    --primary-400: 189 161 117;
    --primary-500: 172 138 83;
    --primary-600: 138 110 66;
    --primary-700: 103 83 50;
    --primary-800: 69 55 33;
    --primary-900: 34 28 17;
    --primary-950: 17 14 8;

    --secondary-50: 241 244 241;
    --secondary-100: 227 233 226;
    --secondary-200: 199 211 197;
    --secondary-300: 171 188 169;
    --secondary-400: 143 166 140;
    --secondary-500: 115 144 111;
    --secondary-600: 92 115 89;
    --secondary-700: 69 86 67;
    --secondary-800: 46 58 44;
    --secondary-900: 23 29 22;
    --secondary-950: 11 14 11;

    --accent-50: 238 247 243;
    --accent-100: 221 238 231;
    --accent-200: 186 222 208;
    --accent-300: 152 205 184;
    --accent-400: 117 189 160;
    --accent-500: 83 172 136;
    --accent-600: 66 138 109;
    --accent-700: 50 103 82;
    --accent-800: 33 69 55;
    --accent-900: 17 34 27;
    --accent-950: 8 17 14;

  }
  .viu.dark {
    --text-50: 14 13 11;
    --text-100: 28 26 23;
    --text-200: 56 51 46;
    --text-300: 84 77 69;
    --text-400: 112 102 92;
    --text-500: 140 128 115;
    --text-600: 163 153 143;
    --text-700: 186 179 171;
    --text-800: 209 204 199;
    --text-900: 232 230 227;
    --text-950: 244 242 241;

    --background-50: 15 13 11;
    --background-100: 29 27 22;
    --background-200: 58 53 44;
    --background-300: 87 80 66;
    --background-400: 116 107 88;
    --background-500: 145 133 110;
    --background-600: 167 158 139;
    --background-700: 189 182 168;
    --background-800: 211 206 197;
    --background-900: 233 231 226;
    --background-950: 244 243 240;

    --primary-50: 17 14 8;
    --primary-100: 34 28 17;
    --primary-200: 69 55 33;
    --primary-300: 103 83 50;
    --primary-400: 138 110 66;
    --primary-500: 172 138 83;
    --primary-600: 189 161 117;
    --primary-700: 205 185 152;
    --primary-800: 222 208 186;
    --primary-900: 238 232 221;
    --primary-950: 247 243 238;

    --secondary-50: 11 14 11;
    --secondary-100: 23 29 22;
    --secondary-200: 46 58 44;
    --secondary-300: 69 86 67;
    --secondary-400: 92 115 89;
    --secondary-500: 115 144 111;
    --secondary-600: 143 166 140;
    --secondary-700: 171 188 169;
    --secondary-800: 199 211 197;
    --secondary-900: 227 233 226;
    --secondary-950: 241 244 241;

    --accent-50: 8 17 14;
    --accent-100: 17 34 27;
    --accent-200: 33 69 55;
    --accent-300: 50 103 82;
    --accent-400: 66 138 109;
    --accent-500: 83 172 136;
    --accent-600: 117 189 160;
    --accent-700: 152 205 184;
    --accent-800: 186 222 208;
    --accent-900: 221 238 231;
    --accent-950: 238 247 243;

  }
}